/*.tile{
  width: 25%;
  height: 100px;
  font-size: 60px;
  text-align: center;
  background: yellow;
  border: 8px solid green;
  display: inline-block;
  text-align: center;
  position: relative;
}

/*@media only screen and (max-width: 500px) {
  .tile {
    height: 80px;
    width: 25%;
  }
}*/

.tile{
  width: 25%;
height: 80px;
font-size: 30px;
background: rgba(29, 21, 21, 0.83);
border: 8px solid #b1b1e6;
display: inline-block;
float: left;
text-align: center;
margin-left: 15px;
margin-top: 15px;
border-radius: 15px;
color: #eff5c8;

}
